# macOS
.DS_Store

# VSCode
.vscode/

# Xcode
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcuserstate
*.xcuserdata
DerivedData/
*.ipa
*.hmap
*.xcuserstate

# Android
android/.gradle/
android/build/
android/app/build/
*.iml
*.keystore
.cxx/
.externalNativeBuild/

# React Native
node_modules/
npm-debug.log
yarn-error.log
*.jsbundle
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Testing
/coverage

# Expo
.expo/
.expo-shared/

# Watchman
.watchmanconfig

# Env
.env
.env.*
