# macOS
.DS_Store

# VSCode
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-error.log

# React Native
*.jsbundle
*.log
.expo/
.expo-shared/
*.tmp
*.temp
*.swp
*.swo
*.lock-wscript
*.patch
*.orig
*.rej
*.keystore
*.jks
*.pem

# TypeScript
*.tsbuildinfo

# Babel
babel.config.js

# Metro
.metro-health-check*

# Watchman
.watchmanconfig

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/captures/
android/.cxx/
android/local.properties
android/*.iml
*.hprof

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/
ios/*.xcuserdata/
ios/*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Podfile.lock

# Ruby
Gemfile.lock
vendor/bundle/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Testing
/coverage/

# Yarn (keep lock file tracked!)
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/patches
